  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">What is this?!</h5>
          <p class="grey-text text-lighten-4">
            Awesomeness gifified.
          </p>


        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Rules of GifFight.club</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/share">1: Tell <i>everybody</i> about it</a></li>
            <li><a class="white-text" href="https://twitter.com/share">2: Tell <strong>everybody</strong> about it</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/giffight">Twitter</a></li>
            <li><a class="white-text" href="mailto:hey@giffight.club?subject=You are so awesome!&body=Marry me!" target="_blank">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://twitter.com/ashleyhindle">@ashleyhindle</a> &bull; GitHub <a class="orange-text text-lighten-3" href="https://github.com/ashleyhindle/giffight.club">giffight.club</a>
      </div>
    </div>
  </footer>