{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-large red" href="/fight"> <!-- change href based on whether logged in or not? -->
    <i class="large material-icons left">thumb_up</i> FIGHT
  </a>
</div>

<blockquote>
Rule 8: If this is your first time at GifFight.club, you have to fight
</blockquote>

<div class="section no-pad-bot" id="index-banner">
    <h1 class="header center orange-text">Dave Grohl’s Surgeon Invited to Sing With Foo Fighters And Rocked the Stadium!</h1>
    <div class="row center">
      <a href="http://www.goodnewsnetwork.org/dave-grohls-surgeon-invited-to-sing-with-foo-fighters-and-rocked-the-stadium/">Find out more from GoodNewsNetwork.org</a>
    </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12 m4 l3 gif no-padding card">
      <div class='row vote'>
        <a href='/123/up' class='col s4 green lighten-1 center-align btn'>
          UP
        </a>
        <span class="col s4 btn-flat center-align">2867</span>

        <a href='/123/down' class='col s4 red lighten-1 center-align btn'>
            DOWN
        </a>
      </div>

      <img class="responsive-img" src="http://media.giphy.com/media/11w95llBMgsCDm/giphy.gif">

      <!-- 
      If the person logged in, posted this one, let them remove it, as the link might not have worked 
      -->

      {% if app.session.get('twitter_screen_name') == "ashleyhindle" %}
        <div class='center-align'>
          <a href='/123/remove' class='btn red' style='width:100%;'>Remove</a>
        </div>
      {% else %}
        <div class='center-align'>
          <a href='https://twitter.com/intent/tweet?text=@ashleyhindle Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Taunt @ashleyhindle</a>
        </div>
      {% endif %}
    </div>

    <div class="col s12 m4 l3 gif no-padding card">
      <div class='row vote'>
        <a href='/123/up' class='col s4 green lighten-1 center-align btn'>
          UP
        </a>
        <span class="col s4 btn-flat center-align">804</span>

        <a href='/123/down' class='col s4 red lighten-1 center-align btn'>
            DOWN
        </a>
      </div>

      <img class="responsive-img" src="http://replygif.net/i/203.gif">

      <div class='center-align'>
        <a href='https://twitter.com/intent/tweet?text=@boris88 Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Taunt @boris88</a>
      </div>
    </div>

    <div class="col s12 m4 l3 gif no-padding">
      <img class="responsive-img" src="http://images4.wikia.nocookie.net/__cb20130730202317/halo/es/images/6/64/Internet-fight.gif">
      <a class="btn red" href="/fight"> <!-- change href based on whether logged in or not? -->
        <i class="material-icons left">thumb_up</i> Let me at 'em!
      </a>
    </div>
  </div>
</div>
{% endblock %}