{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
<blockquote>Rule 8: If this is your first time at GifFight.club, you have to fight</blockquote>
<div class="section no-pad-bot" id="index-banner">
    <h1 class="header center orange-text">Dave Grohl’s Surgeon Invited to Sing With Foo Fighters And Rocked the Stadium!</h1>
    <div class="row center">
      <a href="http://www.goodnewsnetwork.org/dave-grohls-surgeon-invited-to-sing-with-foo-fighters-and-rocked-the-stadium/">Find out more from GoodNewsNetwork.org</a>
    </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12 m4 l3 gif no-padding card">
      <div class='row vote'>
        <a href='/123/ohyea'>
          <div class='col s4 green lighten-3 center-align'>
            Nice!
          </div>
        </a>
        <span class="col s4 badge">3018</span>
        <a href='/123/whatno'>
          <div class='col s4 red lighten-3'>
            Wut?!
          </div>
        </a>
      </div>
      
      <img class="responsive-img" src="http://media.giphy.com/media/11w95llBMgsCDm/giphy.gif">

      <div class='center-align'>
        <a href='https://twitter.com/intent/tweet?text=@twitterUsername Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Posted by: @twitterUsername</a>
      </div>
    </div>

    <div class="col s12 m4 l3 gif no-padding card">
      <div class='row vote'>
        <a href='/456/ohyea'>
          <div class='col s4 green lighten-3 center-align'>
            Nice!
          </div>
        </a>
        <span class="col s4 badge">195</span>
        <a href='/456/whatno'>
          <div class='col s4 red lighten-3'>
            Wut?!
          </div>
        </a>
      </div>

      <img class="responsive-img" src="http://replygif.net/i/203.gif">

      <div class='center-align'>
        <a href='https://twitter.com/intent/tweet?text=@twitterUsername Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Posted by: @twitterUsername</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}