<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Fight with gifs for no reason at GifFight.club"/>
<meta property="og:title" content="Fight with gifs for no reason at GifFight.club"/>
<meta property="og:site_name" content="GifFight.club"/>
<meta property="og:url" content="http://giffight.club/"/>
<meta property="og:description" content="Join a new gif fight each day based on {% if headline.title is not empty %}'{{headline.title}}'{% else %}the latest headlines{% endif %}"/>
<meta property="og:image" content="http://"/>
<meta property="og:type" content="website"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@giffight" />
<meta name="twitter:title" content="Fight with gifs for no reason at GifFight.club" />
<meta name="twitter:url" content="http://giffight.club/"/>
<meta name="twitter:description" content="Join a new gif fight each day based on {% if headline.title is not empty %}'{{headline.title}}'{% else %}the latest headlines{% endif %}" />
<meta name="twitter:image" content="http://" />

{% block head %}
<title>Fight with gifs for no reason at GifFight.club</title>
{% endblock %}
{% block assets %}
<link rel="stylesheet" href="/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/app.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/app.js"></script>

</script>
{% endblock %}
</head>
<body>
<!-- Modal Structure -->
<div id="fight-modal" class="modal bottom-sheet">
	<form class="s12" action="/fight" method="POST">
		<div class="modal-content row">
			<h4>Round One. FIGHT!</h4>
				<div class="input-field col s12">
		          <input autofocus placeholder="Where is this awesome gif located? http://...." id="url" name="url" type="text" class="validate">
		          <label for="url">URL</label>
		        </div>
		</div>
		<div class="modal-footer">
			<button style='margin-left:15px;' class="btn red modal-action modal-close waves-effect waves-green">Close this, I'm scared!</button>
			<button type='submit' class="btn waves-effect waves-green">Submit</button>
		</div>
	</form>
</div>
{% include 'navbar.html.twig' %}

<!-- TODO: Replace this disgusting code with a flashbag and nice alerts (like bootstrap) -->
{% if app.request.get('error') == 'invalid-url' %}
	<script>
		Materialize.toast('Your URL was really super invalid, try again!', 4000) // 4000 is the duration of the toast
	</script>
{% elseif app.request.get('error') == 'invalid-id' %}
	<script>
		Materialize.toast('That\'s a completely wrong gif id, wut?!', 4000) // 4000 is the duration of the toast
	</script>
{% elseif app.request.get('error') == 'dont-own' %}
	<script>
		Materialize.toast('Don\'t try to delete somebody elses gif, how rude?!', 4000) // 4000 is the duration of the toast
	</script>
{% elseif app.request.get('fought') == 'ochaye' %}
	<div class='container' style='margin-top:1em'>
		<div class='row'>
			<div class='col s12'>
				<a target='_blank' href='https://twitter.com/intent/tweet?text=My gif is the best gif at giffight.club! Dare you challenge me?!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club' class='btn'>Invite fighters to challenge you (do they even have a chance?!)</a>
			</div>
		</div>
	</div>
{% endif %}


{% block content %}{% endblock %}

{% include 'footer.html.twig' %}
</body>
</html>