<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GifFight.club</a>
    <ul class="right hide-on-med-and-down">
      {% if app.session.get('loggedin') != true %}
        <li>
          <a href="/twitter">
            <img alt='Login with twitter' src='/images/sign-in-with-twitter-gray.png'>
          </a>
        </li>
      {% else %}
        <li>
          <a href='/logout'>Logout @{{app.session.get('twitter_screen_name')}}</a>
        </li>
      {% endif %}
      <li>
        {% include 'partials/fight-button.html.twig' %}
      </li>
    </ul>

    <!-- Why does this have to be duplicated just for a mobile menu?  It doesn't in bootstrap or zurb foundation -->
    <ul id="nav-mobile" class="side-nav">
      {% if app.session.get('loggedin') != true %}
        <li>
          <a href="/twitter">
            <img alt='Login with twitter' src='/images/sign-in-with-twitter-gray.png'>
          </a>
        </li>
      {% else %}
        <li>
          <a href='/logout'>Logout @{{app.session.get('twitter_screen_name')}}</a>
        </li>
      {% endif %}
      <li>
        {% include 'partials/fight-button.html.twig' %}
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>