.gif {
	padding: 0.3em !important;
	border: 1px solid #ccc;
	transition: box-shadow .25s;
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: initial;
    transition-delay: initial;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.vote {
	margin: 0px !important;
	font-weight: 600;
}

.vote span {
	cursor: auto;
}